<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <h1><%= kindofday%></h1>

    <ul>
      <li>Buy food</li>
      <li>Massage</li>
      <li>Shopping</li>
    </ul>
  </body>
</html>
